body {
    background-color: #A3B18A;
    max-width: 700px;
}

.mainHeader {
    color: #2C1320;
}

.sectionHeader {
    color: #413C58;
}

.dobroPowraca {
    color: pink;
}

footer img {
    max-width: 300px;
    float: right;
}

h3 {
    color: #FFFBFE
}